<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="sepal_length">Sepal Length</label>
                <input type="number" id="sepal_length" name="sepal_length" step="any" value="{{ data.sepal_length }}" />
            </div>
            <div>
                <label for="sepal_width">Sepal Width</label>
                <input type="number" id="sepal_width" name="sepal_width" step="any" value="{{ data.sepal_width }}" />
            </div>
            <div>
                <label for="petal_length">Petal Length</label>
                <input type="number" id="petal_length" name="petal_length" step="any" value="{{ data.petal_length }}" />
            </div>
            <div>
                <label for="petal_width">Petal Width</label>
                <input type="number" id="petal_width" name="petal_width" step="any" value="{{ data.petal_width }}" />
            </div>
        
            <div>
                <label for="specie">Specie</label>
                <select name="specie" id="specie">
                    <option value="" disabled {% if not data.specie %} selected {% endif %}>Selecione uma espécie</option>
                    {% for x in species %}
                        <option value="{{ x }}" {% if data.specie == x %} selected {% endif %}>{{ x }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div>
                <input type="submit" value="Salvar" />
                <input type="button" value="Voltar" onclick="window.location.href = '/iris/'" />
            </div>
        </form>    
    </body>
</html>